@use "../colors";


.listitem {
 display: grid;
 grid-template-columns: 1fr 2fr 1fr;
 margin: 0.5rem 10px;
 padding: 1rem;

 font-weight: 900;
 font-size: 1.25rem;
 font-family: Avenir, Helvetica, Arial, sans-serif;
 color: colors.$text;

 background-color: colors.$background;
 border: 0;
 box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.7), 6px 6px 12px rgba(189, 200, 223, 0.7);
 border-radius: 8px;
}

.listitem i {
    font-size: 1.5rem;
}

.listitem span {
    text-align: left;
}